<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div class="header" style="height: 100px;"></div>
    <div class="goods_detail_con clearfix">
        <div class="goods_detail_pic fl">
            <img src="/static/goods_detail.jpg" alt="">
        </div>
        <div class="goods_detail_list fr">
            <h3>{{goods.name}}</h3>
            <div class="prize_bar">
                <span class=" show_pirze">￥<em>{{goods.price}}</em></span>
                <span class="show_unit">单位：{{goods.weight}}g</span>
            </div>
            <div class="goods_num clearfix">
                <div class="num_name fl">数量：</div>
                <div class="num_add fl">
                    <input type="text" class="num_show fl" value="1">
                    <a href="javascript:;" class="add fr">+</a>
                    <a href="javascript:;" class="minus fr">-</a>
                </div>
            </div>

        <div class="total">总价：<em>{{goods.price}}元</em></div>
        <div class="operate_btn">
            <a href="javascript:;" class="buy_btn">立即购买</a>
            <a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>


        </div>
    </div>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_warp fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    <li>
                        <a href="#"><img src="/static/goods001.jpg" alt=""></a>
                        <h4>
                            <a href="#">进口柠檬</a>
                        </h4>
                        <div class="prize">￥3.90</div>
                    </li>
                    <li>
                        <a href="#"><img src="/static/goods002.jpg" alt=""></a>
                        <h4>
                            <a href="#">玫瑰香葡萄</a>
                        </h4>
                        <div class="prize">￥16.80</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li class="active">商品介绍</li>
                <li>商品评价</li>

            </ul>
            <div class="tab_content">
                <dl>
                    <dt>商品详情：</dt>
                    <dd>{{goods.detail}}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="fotter" style="height: 100px;">
    </div>

</body>

</html>